    /* general */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-image: url("../images/blue_bg.png");
    background-size:1560PX; 
    background-repeat: no-repeat;
    background-position-x: center;
    overflow-x: hidden;
    width:90%;
    height: 1000px;
}
    /* navBar */
.navBar {
    display: flex;
    justify-content: space-between;
    height: 108px;
    text-align: center;
}
     
a {
    text-decoration-line: none;
}
.home{
    color: rgba(0, 0, 0, 0.577);
    width: 100%;
    position: relative;
    margin-left: -2px;

}

.home:hover::after {
    content: "";
    top: 23px;
    left: 29px;
    background:#96318D;
    border-radius: 5px;
    height: 4px;
    width: 47%;
    position: absolute;
    transition: 0.5s;
}

.leftSide {
    display: flex;
    margin-top: 30px;
    
}

h4 {
    margin-right: 60px;
}
.rightSide button {
    background-color: white;
    border-radius: 50px;
    padding: 9px;
    width: 107px;
    border: none;
    font-weight: bold;
    font-size:medium;
    color: rgba(0, 0, 0, 0.577);
    margin-top: 40px;
    margin-right: 20px;
   
}
 
/* waves */
.between {
    position:absolute;
    top: 650px;
    right: 20%;
}

/* first section */
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
}

.firstLeft {
    font-size: 58px;
    font-weight: bold;
    color: #00000090;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 5px;
    width: 100%;


}

.firstLeft span {
    color: blueviolet;
}
.firstLeft .pp {
    font-size: 29px;
    font-weight: 290;
    color: #00000056;
    margin-left:-3px;
    margin-top: -36px;
    width: 109%
}

.firstRight {
    width: 100%;
    height:100% ;
    position: relative;
   margin-right: -138px;


}
    
.firstImage {
    width: 800px;
    height:820px ;
  
   

}

.secondImage {
    position: absolute;
    top: 10%;
    left: 28%;
    width:300px ;


}

.thirdImage {
    position: absolute;
    top: 67%;
    left: 20%;
    width:500px ;
} 

  /* second section */
 .middle {
    background-image: url("../images/second_section_.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height:1154px;
    width: 109%;
    top: -20px;
    margin-right: -10px;
}
.middle .superfast {
    position: relative;
    height: 50%;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.681);
}

.superfast img {
    height:170px ;
}
 .superfast21 {
    position: absolute;
    top: 526px;
    right: 40.8%;
 }
 .superfast1 {
        position: absolute;
        top: 380px;
        left: 10%;  
}

.middle .kudzoka {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 50%;
    width: 100%;
    color: rgba(0, 0, 0, 0.681);
}

.kudzoka {
    position: relative;
    top: 243px;
    right: 60px;
    text-align: center;
}

.kudzoka1 img {
    height:330px;
    position: relative;
}
.para {
    position: absolute;
    top: 107px;
    left: 20% ;
    font-weight: 100;
    font-size: 40px;
    color: white;
    margin-left: -20px;
}
.para h5 {
    font-weight: 100;
    font-size: medium;
    margin-left: -130px;
    margin-bottom: -37px;
}

 /* third section */
.sec3 {
    display: flex;
    align-content: space-between;
    width: 90%;
    height: 446px;
    align-items: flex-end;
    margin-left: 90px;
    position: relative;
    top: 110px;
    
}

.sec3 img {
        margin: auto 30px;
}
.sec3 .image2 {
    margin-top: -55px;
    margin-right: 48px;
    margin-left: 1px;
}



.fa-less-than {
    position: absolute;
    top: 71%;
    left: 25%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.508);
}

.fa-greater-than {
    position: absolute;
    top: 71%;
    right: 23%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.508);
}

.para_sec3 {
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.808);
}
.para_sec3 p {
    font-size: 23px;
    font-weight: lighter;
   color: rgba(0, 0, 0, 0.608);
}

     /* footerr */
.footer {
    height: 590px;
    width: 120%;
    overflow: hidden;
    margin-left: -10px;
    
    
}
.footer .foot {
    width: 1667px;
    margin-left: -36px;
    margin-bottom: 3px;
    margin-top: -30px;
}
.footerin {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    bottom: 85%;
    left: 8%;
    right: 48px;
}

.buttons {
    display: flex;
    margin-bottom: 22px;
    
}
.buttons button {
    background-color: white;
    border-radius: 17px;
    padding: 21px;
    width: 107px;
    border: none;
    color: rgba(0, 0, 0, 0.577);
    margin-top: 30px;
    margin-right: 20px;
    height: 57px;
    width: 136px;
    text-align: end;
    font-weight: 700;
    font-size: 14px;
}
.buttons .button1 {
    position: relative;
}
.buttons .imgb1 {
    position: absolute;
    top: 18.4%;
    left: 5px;
}
.buttons .button2 {
    position: relative;
}
.buttons .imgb2 {
    position: absolute;
    top: 19.4%;
    left: 10.4%;
}


.icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-size: 31px;
    color: white;
    border: none;
    margin: 20px 0;
}

.write {
   display: flex;
    margin-left: -2px;
}  
.homee {
    color: white;
}

.foottt {
    position: absolute;
    top: 376%;
    right: 7%;
    width: 709px;
}

/* the end */



